.he{
    background-color: #fc946e;
}
.col{
    background-color: #fbcd76;
}
.pr{
    background-color: rgb(181, 104, 253);
}
.pe{
    background-color: #fab7c3;
}
.le{
    background-color: #eefc87;
}
.be{
    background-color: #82cef1;
}
.or{
    background-color:#fd7c4d ;
}
.gr{
    background-color:#76ee7c ;
}
.ye{
    background-color:#e7f774 ;
}


.bl{
    background-color:#69d0ff ;
}